<div class="line"><font size="4px">{{site.name}}</font><br><small>tamilrockers.com</small></div>
<nav class="scrollMenu">
<div class="sectionInner section" id="nav-menu"><div class="widget LinkList" data-version="2" id="LinkList00">
<ul itemscope itemtype="https://schema.org/SiteNavigationElement">
 
 
 {% for item in site.language %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
  {% for item in site.director %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
  {% for item in site.actor %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
  {% for item in site.genre %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
  {% for item in site.year %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
   {% for item in site.quality %}
<li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies</a></li>
 {% endfor %}
 
</ul>
</div>
 </div>
</nav>
<style>
@media screen and (max-width:640px){
header .headerLeft{margin-right:15px}
.widget .title{font-size:14px}
.scrollMenu{font-size:13px}
.scrollMenu li{padding:12px 0}
}
@media screen and (max-width:480px){
.scrollMenu{font-size:12px}
}
nav ul {
    height: auto !important;
}
.scrollMenu a {
    text-decoration: unset;
    color: black !important;
    font-family: system-ui !important;
}
.scrollMenu ul:after{content:'';padding:0 10px}
.scrollMenu{background-color:#fefefe;overflow-x:auto;-ms-overflow-style: none;-webkit-overflow-scrolling:touch; box-shadow:0 10px 15px -5px rgba(0,0,0,.03); font-size:97%}
.scrollMenu ul{display:flex;margin:0;padding:0;list-style:none;white-space:nowrap}
.scrollMenu li:first-child{margin-left:auto}
.scrollMenu li:last-child{margin-right:auto}
.scrollMenu li:not(:last-child){margin-right:25px}
.scrollMenu li{padding:15px 0;position:relative}
.scrollMenu li > *{display:block}
.scrollMenu li > *:before{content:attr(data-text)}
.scrollMenu li > *:after{content:'';height:1px;border-radius:2px 2px 0 0;background:#204ecf;position:absolute;bottom:0;left:0;right:0;opacity:0}
.scrollMenu li:hover > *:after, .scrollMenu li > div:after{opacity:1}
.scrollMenu li > div{opacity:.7}
</style>
<style>
.line{background-color: #308bcf; color: #ffffff; font-weight: bold; padding: 10px 0px 10px 0px; text-align: center; text-decoration: none; margin-bottom: 0px; font-size: small;}
.f {color: #4f4f4f ; background: #f9f9f9; padding-top: 8px; padding-left: 3px; padding-bottom: 2px; font-size: 14px; text-align: left; border-bottom: 1px dotted #afcddc; }
</style>
 <div class="Adz" style=" margin-top: 20px; ">
<div class="cen">
    <section>
      <section class="cen">
       
        <div class="cen">
 
          
        </div>
      </section>
      
      
      <section class="cen">

      
    </section>
  </div>

</div>

