<div>

{% for post in paginator.posts %}
 <div class="botitem">
    <a href="{{ BASE_PATH }}{{ post.url }}" rel="bookmark" title="{{ post.title }} Movie Download">
      <div>
        <div class="ava">
          <picture>
            <source srcset="{{ post.poster }}">
            <source srcset="{{ post.poster }}">
            <img alt="{{ post.title }} movie poster" title="{{ post.title }} Movie Poster" src="{{ post.poster }}" loading="lazy">
          </picture>
        </div>
        <div class="info">
          <h1>{{ post.title }}</h1>
          <p class="description">
            <b>Language:</b> {{ post.language }}<br>
            <b>Size:</b> {{ post.size }}<br>
            <b>Quality:</b> {{ post.quality }}<br>
            <b>Year:</b> {{ post.year }}
          </p>
        </div>
      </div>
    </a>
  </div>
           

{% endfor %}  
{% include pagination-home.html %}
           </div>
