<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#">
{% assign title = '' %}
    {% if page.layout == 'author' %}
        {% assign title = page.display_name %}
    {% elsif page.title %}
        {% assign title = page.title | append: " | " | append: site.name %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    {% assign image = '' %}
    {% if page.image %}
        {% assign image = page.image %}
    {% else %}
        {% assign image = "{{ page.poster }}" %}
    {% endif %}

    {% assign description = '' %}
    {% if page.description %}
        {% assign description = page.description | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} ({{ page.year }}) {{ page.language }} Movie Download HD Tamilrockers {{ site.name }}</title>
<meta property="description" content="{{ page.title }} Full Movie Download , {{ page.title }} {{ page.language }} HD Movie Download TamilRockers, {{ page.title }} Watch Online TamilRockers, {{ page.title }} Movie Download TamilRockers">
<meta property="og:title" content="{{ page.title }} Movie Download - {{ site.name }}" />
<meta property="og:description" content="{{ page.title }} Full Movie Download , {{ page.title }} Tamil HD Movie Download TamilRockers, {{ page.title }} Watch Online TamilRockers, {{ page.title }} Movie Download TamilRockers">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="{{ page.poster }}" />
<meta property="video:director" content="{{ page.director }}">
<meta property="video:release_date" content="{{ page.date }}">
<meta property="og:video" content="{{ page.video }}">
<meta property="og:video:secure_url" content="{{ page.video }}">
<meta property="og:video:type" content="video/mp4">
<meta property="video:tag" content="{{ page.genre }}">
<meta charset="UTF-8" />
<meta name="google" content="notranslate" />
<meta http-equiv="Content-Language" content="en_US" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="Rating" content="General">
<meta name="audience" content="all">
<meta name="theme-color" content="#0085ef">
<meta name="msapplication-TileColor" content="#0085ef">
<meta name="mobile-web-app-capable" content="yes">
<meta itemprop="isFamilyFriendly" content="true">
<meta itemprop="copyrightYear" content="{{ 'now' | date: "%Y" }}">
<link rel="stylesheet" media="all" href="/assets/css/mass.css" /> 
<link rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" href="/feed.xml">
<link rel="shortcut icon" href="/favicon.ico">
<link href="{{ url }}" rel="canonical" />
    
</head>

	
	<body  class="light" itemscope itemtype="https://schema.org/Movie">

<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="image" content="{{ page.poster }}">
<meta itemprop="dateCreated" content="{{ page.date }}">
<meta itemprop="genre" content="{{ page.genre }}">
<meta itemprop="director" content="{{ page.director }}">
<meta itemprop="author" content="{{ site.name }}">
	
	
	
	
   <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3850950,document.body||document.documentElement)</script>
  {% include line.html %}
 <div class="bcrumbs bold box" style="margin-top: 10px;">
  <div itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"><div itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement"><a class="" itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></div> » <div itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement"><a class="" itemprop="item" href="/"><span itemprop="name">Movie</span></a><meta itemprop="position" content="2"></div> » <div itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement"><span itemprop="name">{{page.title}}</span><meta itemprop="position" content="3"></div></div>
</div>
<div class="box cen">
  <section class="bots ib post ctr wrapper cen">
    <div class="page-content left">
      <div class="pad10">
  <header>
	  <p class="normal">{{ page.title }} {{ page.year }} HD Full Movie Download {{ page.title }} {{ page.year }} HD Download isaimini Moviesda.Net</p>
    
  </header>
  <article class="post-content">
    <div id="movie-image">
      <figure>
        <picture>
          <source srcset="{{page.poster}}" type="image/webp">
          <source srcset="{{page.poster}}" type="image/jpeg">
          <img alt="{{page.title}} movie poster" style=" height: auto !important; " title="{{page.title}} Movie Poster" src="{{page.image}}" loading="lazy">
        </picture>
        <figcaption class="cen">{{page.title}} Movie Poster</figcaption>
      </figure>
    </div>
    <fieldset id="movie-handle">
      <legend class="bluer cen">Movie Information</legend>
      <b>Language:</b> {{ page.language }}<br>
      <b>Size:</b> {{ page.size }}<br>
      <b>Year:</b> {{ page.year }}<br>
      <b>Actor:</b> {{ page.actor }}<br>
      <b>Director:</b> {{ page.director }}<br>
      <b>Quality:</b> {{ page.quality }}<br>        
      <b>Genre:</b> {{ page.genre }}<br>
      <b>Rating:</b> <span class="imdbRatingPlugin" data-user="ur105755917" data-title="{{ page.imdb }}" data-style="p4">
<a href="https://www.imdb.com/title/{{ page.imdb }}">
</a></span>
<script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");</script><br>
      <b>Updated:</b> {{ page.date }}<br>
    </fieldset>
      
    <div class="rating cen">
      <p>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="padded" site_id="60140c176fd08bc7267d887f" data-ef_voting="push" data-white_label="true" data-show_dislike_label="true" data-voting_cancelable="false" data-counter_clickable="true" data-counter_frmt="km" data-popup_disabled="true" data-popup_dislike="true" data-share_enabled="false" data-loader_image="https://likebtn.com/i/loader-small.gif?v=39" data-tooltip_enabled="false"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
      </p>
    </div>
    <div class="cen">
    </div>
    
    
    
    
    
    
    
    
    
    
    
        <div class="ziparea normal">
          <span class="bold uline">Download {{ page.title }} movie download HD {{page.language}}rockers</span><br>
          <table id="tlist" class="firstleft">
    <tbody content="1">
        <tr>
            <th id="track">Title</th>
            <th id="play">Download</th>
        </tr>
          
       <tr>
            <td><span><h2 class="nostyle"><span><link href="{{item.url}}"> <a href="{{item.url}}" title="Download {{page.title}} movie HD">{{page.title}}</a> </span></h2>
                <br><b>Quality: </b><span>{{page.quality}}</span><br><b>Size: </b><span>{{page.size}}</span> </span>
            </td>
         <td>
             <a class="dlink anim" href="{{page.video}}" rel="nofollow" title="Download {{page.title}} movie HD">Download</a>
            </td>
            
        </tr>     
             
              </tr>
    </tbody>
</table>
        </div>
      
      

      <h4 class="bold uline">Incoming Search Terms:</h4>
<ul>
      <li>{{ page.title }} Movie Download isaimini</li>
      <li>{{ page.title }} Movie Download {{page.language}}rockers</li>
       <li>{{ page.title }} Movie Download {{page.language}}gun</li>
       <li>{{ page.title }} Movie Download {{page.language}}mv</li>
       <li>{{ page.title }} Movie Download isaiminiweb</li>
       <li>{{ page.title }} Movie Download isaiminida</li>
       <li>{{ page.title }} Movie Download isaiminipa</li>
       <li>{{ page.title }} Movie Download {{page.language}}dbox</li>
       <li>{{ page.title }} Movie Download moviesdaweb</li>
       <li>{{ page.title }} Movie Download moviesda</li>
       <li>{{ page.title }} Movie Download marina rockers</li>
       <li>{{ page.title }} Movie Download sri rockers</li>
       <li>{{ page.title }} Movie Download kuttymovies</li>
       <li>{{ page.title }} Movie Download cool{{page.language}}</li>
       <li>{{ page.title }} Movie Download Youtube</li>
       <li>{{ page.title }} Movie Download Disney+ Hotstar</li>
       <li>{{ page.title }} Movie Download Netflix</li>
       <li>{{ page.title }} Movie Download Amazon Prime Video</li>
       <li>{{ page.title }} Movie Download ZEE5</li>
       <li>{{ page.title }} Movie Download ALT Balaji</li>
       <li>{{ page.title }} Movie Download MX Player</li>
       <li>{{ page.title }} Movie Download Hungama</li>
       <li>{{ page.title }} Movie Download BIGFlix</li>
       <li>{{ page.title }} Movie Download TnMoviez</li>
       <li>{{ page.title }} Movie Download isaidub</li>
       <li>{{ page.title }} Movie Download oru{{page.language}}</li>
       <li>{{ page.title }} Movie Download in {{page.language}}</li>
       <li>{{ page.title }} Movie Download in Hindi</li>
       <li>{{ page.title }} Movie Download in Telugu</li>
       <li>{{ page.title }} Movie Download in Malayalam</li>
       <li>{{ page.title }} Movie Download in Kannada</li>
       <li>{{ page.title }} Movie Download in English</li>
       <li>{{ page.title }} Movie Download telegram</li>
       <li>{{ page.title }} Movie Download telegram link</li>
       <li>{{ page.title }} Movie Download isaiminimob</li>
       <li>{{ page.title }} Movie Download {{page.language}}blasters</li>
       <li>{{ page.title }} Movie Download {{page.language}}play</li>
       <li>{{ page.title }} Movie Download jiorockers</li>
       <li>{{ page.title }} Movie Download movierulz</li>
       <li>{{ page.title }} Movie Download kotha movies</li>
      </ul>
      
      <p>{{ page.title }} ({{ page.year }}) Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) {{ page.quality }} Full Movies Download, MobileRockers {{ page.title }} ({{ page.year }}) Mobile Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) Download, {{ page.title }} ({{ page.year }}) Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) {{ page.quality }} Full Movies Download, MobileRockers {{ page.title }} ({{ page.year }}) Mobile Movies Download, TamilRockers {{ page.title }} ({{ page.year }}) Download</p>

<p>{{ page.title }} Full Movie Download {{ page.title }} HD Movie Download {{ page.title }} Movie HD Download {{ page.title }} Tamil Full Movie Free Download Moviesda.in {{ page.title }} Full Movie 1080p HD & 720 HD TamilRockers TamilGun Download {{ page.title }} Full HD Movie isaimini Download {{ page.title }} Mp4 HD Movie Download</p>

<p>{{ page.title }} (Original) Full Movie Download {{ page.title }} (Original) Tamil Full Movie Download {{ page.title }} (Original) Movie Moviesda Download isaimini </p>
      
  </article>
</div>
<section class="ctr wid">
        <h1 class="wtitle cen em1">Tags</h1>
   
        <div class="tags">
           <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
                                            {% for tag in page.tags %}
                                                {% if tag != "" %}
                                                   <li itemprop="name"> <a itemprop="url" href="{{ site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }} Movies Download</a></li>
                                                {% endif %}
                                            {% endfor %}
              </ul>
                                        </div>
      </section>



    </div>
  </section>
  <section class="sbar ib cen">
    <div id="sidebar" class="cen">
    <section class="wid ctr">
      <h4 class="wtitle cen">Follow us</h4>
      <div class="social-icons cen">
        <div class="s-icon telegram">
          <a href="https://telegram.me/isaiminidownload" target="_blank" rel="nofollow">
          <svg xmlns="http://www.w3.org/2000/svg" height="75" width="75" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#37aee2"></rect><path fill="#c8daea" d="M199 404c-11 0-10-4-13-14l-32-105 245-144"></path><path fill="#a9c9dd" d="M199 404c7 0 11-4 16-8l45-43-56-34"></path><path fill="#f6fbfe" d="M204 319l135 99c14 9 26 4 30-14l55-258c5-22-9-32-24-25L79 245c-21 8-21 21-4 26l83 26 190-121c9-5 17-3 11 4"></path></svg>
          </a>
        </div>
      </div>
    </section>
  <section class="wid ctr left">
    <h4 class="wtitle cen">Recent Updates</h4>
    <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
        
        
        
        
{% for post in site.posts limit:15 %}  
  <li itemprop="name"><a itemprop="url" href="{{ BASE_PATH }}{{ post.url }} ({{ post.year }})">{{ post.title }}</a></li>  
{% endfor %}  
        
        
        
        
        
    </ul>
  </section>
        <section class="wid ctr left">
    <h4 class="wtitle cen">Movies By Actors</h4>
          <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
{% for item in site.actor %}
      <li itemprop="name"><a itemprop="url" href="{{ item.url }}">{{ item.title }} Movies Download</a></li>
    {% endfor %} 
</ul>
         </section>
    
    
  
</div>

  </section>
</div>
<p class="cen">
With ♥ from {{site.name}} Team - {{ 'now' | date: "%Y" }}.
</p>
	<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',4428849,document.body||document.documentElement)</script>
	
<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',4428849,document.body||document.documentElement)</script>
	  <script type='text/javascript'>
//<![CDATA[
var setting = {
exceptionurl : "google.com,twitter.com",
path : "#?o="
};
//]]>
</script>
<script src='https://raw.githack.com/mghifariarfan/linkpunyaku/master/auto.js'></script>
<script src='https://www.blogger.com/feeds/8610759527942802422/posts/default?alt=json-in-script&max-results=150&callback=showurl'></script>
</body>
</html>
